/* some comment can be placed here */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap');

html {
    --ancor-color: #130f40;
    font-family: Roboto, sans-serif;
    font-size: 100%;
}

body {
    /* font-family: Roboto, sans-serif; */
    font-size: 1.15rem;
    /* margin: 0; */
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: content-box;
}

.d-inline-block {
    display: inline-block
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

/* navigation */

a {
    /* text-decoration: none; */
}

.page-header {
    color:rgb(54, 30, 30);
    background-color: white;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header .brand {
    color: red;
    font-size: 1.5rem;
}

.page-header  .navbar a{
    font-size: 1.5rem;
    color: var(--ancor-color);
    margin: 0 0.5rem;
}

.navbar a {
    color:var(--ancor-color);
}

.page-header .toolbar a{
    font-size: 1.5rem;
    color: var(--ancor-color);
    margin: 0 0.5rem;
    cursor: pointer;
}

.header {
    font-size: 1.7rem;
    padding-bottom: 1rem;
    text-align: center;
}

/* hero */

.hero {
    background-color: beige;
    overflow-y: hidden;
    width: 100%;
}

.bg-hero {

}

.hero h2 {
    /* font-size: 1.15em; */

    font-size: calc(1.345rem + 1.15vm);
    font-weight: 800;
}

h1, h2, h3 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

/* backgrounds */

.bg-cover {
    background-size: cover !important;
}


.bg-center {
    background-position: center center !important;
}

.footer-socials a {
    color: blue;
    font-size: 2em;
}

/* paddings */

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pX-0 {
    padding-right: 0;
    padding-left: 0;
}

.pX-1 {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.pX-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.pX-3 {
    padding-right: 1rem;
    padding-left: 1rem;
}

.pX-4 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.pX-5 {
    padding-right: 3rem;
    padding-left: 3rem;
}

.align-left {
    text-align: left;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.bg-dark {
    background-color: black;
}

.text-white {
    color: white;
}

.social-link{
    color: white;
}

h2>span, p>span {
    color: salmon;
    font-weight: 600;
}

.product-container .content{
    text-align: center;
    padding: 0.5rem 0; 
}

.product-container .content h3 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.product-container .content .price{
    font-size: 1.5rem;
    font-weight: 500;
    color: salmon;
}

.product .image{
    height: 35rem;
    width: 100%;
    overflow: hidden;
}

.product .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row>* {
    width: 100%;
    max-width: 100%;
    padding: 0 0.5rem;
    margin-top: 0;
}

.link-unstyle {
    list-style: none;
}

.border-top {
    border-top: #130f40 rbba(0, 0, 0, 0.5) 2px solid;
}

.pt-4 {
    padding-top: 1.5rem;
}

.text-start {
    text-align: left;
}

.text-end {
    text-align: reght;
}

.text-muted {
    font-weight: 300;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-light {
    background-color: beige;
}

.col-auto {
    width: auto;
    flex: 0 0 auto;
}

.col-1 {
    width: calc(100% / 12);
    flex: 0 0 auto;
}

.col-2 {
    width: calc(100% / 6);
    flex: 0 0 auto;
}

.col-3 {
    width: calc(100% / 4);
    flex: 0 0 auto;
}

.col-4 {
    width: calc(100% / 3);
    flex: 0 0 auto;
}

.col-5 {
    width: calc(500% / 12);
    flex: 0 0 auto;
}

.col-6 {
    width: 50%;
    flex: 0 0 auto;
}

.col-7 {
    width: calc(700% / 12);
    flex: 0 0 auto;
}

.col-8 {
    width: calc(800% / 12);
    flex: 0 0 auto;
}

.col-9 {
    width: 75%;
    flex: 0 0 auto;
}

.col-10 {
    width: calc(1000% / 12);
    flex: 0 0 auto;
}

.col-11 {
    width: calc(1100% / 12);
    flex: 0 0 auto;
}

.col-12 {
    width: 100%;
    flex: 0 0 auto;
}
