/* some comment can be placed here */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap');

html {
    --ancor-color: #130f40;
    font-family: Roboto, sans-serif;
    font-size: 100%;
}

body {
    /* font-family: Roboto, sans-serif; */
    font-size: 1.15rem;
    /* margin: 0; */
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: content-box;
}

/* navigation */

a {
    /* text-decoration: none; */
}

.page-header {
    color:rgb(54, 30, 30);
}

.brand {
    color: red;
}

.navbar {

}

.navbar a {
    color:var(--ancor-color);
}

.toolbar {

}

/* hero */

.hero {
    background-color: beige;
    overflow-y: hidden;
    width: 100%;
}

.bg-hero {

}

.hero h2 {
    /* font-size: 1.15em; */

    font-size: calc(1.345rem + 1.15vm);
    font-weight: 800;
}

h1, h2, h3 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

/* backgrounds */

.bg-cover {
    background-size: cover !important;
}


.bg-center {
    background-position: center center !important;
}

.footer-socials a {
    color: blue;
    font-size: 2em;
}

/* paddings */

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pX-0 {
    padding-right: 0;
    padding-left: 0;
}

.pX-1 {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.pX-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.pX-3 {
    padding-right: 1rem;
    padding-left: 1rem;
}

.pX-4 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.pX-5 {
    padding-right: 3rem;
    padding-left: 3rem;
}

.align-left {
    text-align: left;
}

.bg-dark {
    background-color: black;
}

.text-white {
    color: white;
}

.social-link{
    color: white;
}

h2>span, p>span {
    color: salmon;
    font-weight: 600;
}

.product .image{
    height: 35rem;
    overflow: hidden;
}

.image img {
    object-fit: cover;
}